Tour Company/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getNumberTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberTourResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numberTourVerified">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="numberTourVerifiedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberTourVerifiedResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalCostResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDepartDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDepartPositionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changePassResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPaid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idBooking" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hasPaidResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="checkVerifyTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkVerifyTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkVerifyTourResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imgTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderQuatity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departPosition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idZone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailAcc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCustomerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findCustomerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberCus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompay" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNumberCusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNumberCusResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="thongKeTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thongKeTourResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalOrderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalCostCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="totalCostCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="totalCostCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateComInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="web" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateComInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIDCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getIDCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCompanyNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLegalRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLegalRepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLegalRepResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTransName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTransNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTransNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaxCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTaxCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTaxCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBusiLicense">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBusiLicenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBusiLicenseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCerDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCerDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCerDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAddressResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPhoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWebResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPassCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPassCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPassCompanyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get1Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get1DataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get1DataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTourDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTourDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTourDetailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="demo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="demoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="postTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nameTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderQuantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departPosition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idZone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emailNganLuong" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="postTourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCusInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="identifyCard" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCusInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCusInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idcCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTourResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestAndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requestAndResponseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestAndResponseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyTourInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="priceTour" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiredDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="duration" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderQuantity" type="xs:int" />
        <xs:element minOccurs="0" name="departPosition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dayUpdate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idCity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TransMethod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verify" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modifyTourInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="changeInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="companyName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="legalRepresentative" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="transactionName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="taxCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessLience" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="certifiedDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="webAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changeInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCompany" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAllTourResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getContentTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getContentTourResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getZone">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getZoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getZoneResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBookingResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTour" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTicketsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>